
#pai {
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin-bottom: 50px;
    margin-top: 20px;

} 

.input {
    display: flex;
    background: rgb(230, 230, 248);
    width: 606px;
    height: 40px;
    border-radius: 10px;
    align-items: center;
   
}

input {
    width: 559px;
    height: 40px;
    border: none;
    outline: none;
    background: rgb(230, 230, 248);
    font-size: 18px;
    border-radius: 10px;
    padding-left: 10px;
  
}

.lupa {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    left: 20px;
    margin-left: 30px;


}

button {
    width: 114px;
    height: 40px;
    background: #C92071; 
    text-align: center;
    border-radius: 10px;
    color: white;
    border: none;

}

a {
    padding: 20px;
    margin-top: 40px;
    gap: 30px;
    text-decoration: none;
    
}

a:hover {
    color: #C92071;
    text-decoration-line: underline;
}