
#pai {
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin-bottom: 50px;
    margin-top: 20px;

} 

.input {
    display: flex;
    background: #F5F5F5;
    width: 600px;
    height: 40px;
    border-radius: 10px;
    align-items: center;
   
}

input {
    background: #F5F5F5;
    width: 520px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 10px;
  
}

.lupa {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    left: 20px;
    margin-left: 30px;
   


}

button {
    width: 114px;
    height: 40px;
    background: #C92071; 
    text-align: center;
    border-radius: 10px;
    color: white;
    border: none;

}

button:hover {
    transition: all .3s ease-in-out;
    background: #B31E63;

}

a {
    padding: 20px;
    margin-top: 40px;
    gap: 30px;
    text-decoration: none;
    margin-top: 20px;
   
    
}

a:hover {
    color: #C92071;
    text-decoration-line: underline;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: #F5F5F5;
    justify-content: space-around;
    
   
    
} 

.folder {
    width: 530px;
    height: 330px;
    top: 400px;
    left: 300px;


    
} 

.texto {
    width: 500px;
    height: 350;
    border: 3px solid #F5F5F5;
   
   
   
}

.p1 {
    color: #F6AA1C;
   
   
}

.p3 {
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    padding: 0;
    margin: 0;
    color: black;

}

.Ofertas {
    background: #B31E63;
    width: 220px;
    height: 48px;
    top: 622px;
    left: 100px;
   
} 

Ofertas:hover {
    color: #C92071;
    text-decoration-line: underline;
}