
#pai {
  
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    margin-bottom: 50px;
    margin-top: 20px;

} 

.input {
    display: flex;
    background: #F5F5F5;
    width: 600px;
    height: 40px;
    border-radius: 10px;
    align-items: center;
   
}

input {
    background: #F5F5F5;
    width: 520px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    border-radius: 10px;
    padding-left: 10px;
  
}

.lupa {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    left: 20px;
    margin-left: 30px;
   


}

button {
    width: 114px;
    height: 40px;
    background: #C92071; 
    text-align: center;
    border-radius: 10px;
    color: white;
    border: none;

}

button:hover {
    transition: all .3s ease-in-out;
    background: #B31E63;

}

a {
    padding: 20px;
    margin-top: 40px;
    gap: 30px;
    text-decoration: none;
    margin-top: 20px;
    
}

a:hover {
    color: #C92071;
    text-decoration-line: underline;
}

.conteudo {
    display: flex;
    padding-top: 20px ;
}